{% extends "layout.html" %}


{% block content %}
            <nav  class="text">
                <h1>MERI KAVITAYEN</h1>
                <p>My poetic journey started with my first poem 'kya chahta hu'... </p>
                <p>Presenting to you, one of my favourite...</p>
            </nav>
            <!-- <h2 style="color: white"> KYA CHAHTA HU </h2> -->
            <br><br><br><br>
            <nav class="image">
                <a href="kya_chahta_hu"><img src="static/img/circle1.webp" width="300px" height="400px"></a>
                <nav>
                    <p>
                        ना वसंत, ना सर्द, ना बरसात चाहता हूँ | <br>
                        नही स्वर्ण से सज्जित सुंदर पात चाहता हूँ || <br>
                        दो घड़ी क्यों ना सही, एक साथ चाहता हूँ| <br>
                        उन कुसुम हाथों में अपना हाथ चाहता हूँ|| <br>
                        दिल के मुखड़े पर तेरा, शृंगार चाहता हूँ| <br>
                        हर धड़क में बस तेरी झंकार चाहता हूँ|| <br>
                        सूखे बंजर इन करो में, जान चाहता हूँ| <br>
                        तेरे जल आशय से अमृत पान चाहता हूँ||....... <br>
                    </p>
                    <p class="button">Click On Image To Read Full Poem</p>
                </nav>
            </nav>
            <br><br><br><br>
            <nav class="text">
                <p >Finding pure love... well that's difficult</p>
                <p >But! there is a place.. :)</p>
                <p >A place where you can find love full of innocence </p>
                <p >Bringing that to you... in my next poem... </p>
            </nav>
          <br><br><br><br>
          <nav class="image">
                <a href="bachpan"><img src="static/img/p.jpg"></a>
                <nav>
                    <p>
                        सुनना चाहो गर मुझको तुम तो इक राज़ बताता हूँ, <br>
                        एक साधारण बालक का मैं जीवन राग सुनाता हूँ|
                    </p>
                    <p class="button">Click On Image To Read Full Poem</p>
                </nav>
          </nav>

{% endblock %}
