{% extends "layout.html" %}


{% block content %}
          <h1 style="color: white;font-family: 'seoge print'; font-size: 90px">MERI KAVITAYEN</h1>
          <br>
          <p style="color: white; font-size: 20px">My poetic journey started with my first poem 'kya chahta hu'... </p>
          <p style="color: white; font-size: 20px">Presenting to you, one of my favourite...</p>
          <!-- <h2 style="color: white"> KYA CHAHTA HU </h2> -->
          <br><br><br><br>
          <a href="kya_chahta_hu" class="image"><img src="static/img/circle1.webp" width="350px" height="600px"></a>
          <br><br><br><br>
          <p style="font-family: Cinzel; font-size: 20px">
            <p >finding pure love... well that's difficult</p>
            <p >but! there is a place.. :)</p>
            <p >a place where you can find love full of innocence </p>
            <p >bringing that to you... as my next poem... </p>
          </p>

          <br><br><br><br>
          <a class="image" href="bachpan"><img src="static/img/p.jpg"></a>
{% endblock %}
