<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="static/css/maincss.css">
        <meta charset="utf-8">
        <link STYLE="BACKGROUND-COLOR: WHITE; text-align: center; margin-right
                             :20px; margin-top: 6px; margin-left:0; padding: 0;" rel = "icon" href="static/img/LOGO.PNG" >
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Meri_Kavitayen</title>
        {% endif %}

    </head>
    <style media="screen">
        A{text-decoration: none;}
    </style>
<body>
    <div id="bar">
        <ul>
            <li> <img STYLE="BACKGROUND-COLOR: WHITE; text-align: center; margin-right
                             :20px; margin-top: 6px; margin-left:0; padding: 0;" src="static/img/LOGO.PNG" height="30PX" WIDTH="30PX"></li>
            <li><a href="home">Home</a></li>
            <li><a href="author">Author</a></li>
            <li><a href="public">Posts</a></li>
            <li><a href="upload">Upload</a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
