<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login Or Signup</title>
        <link rel="stylesheet" href="static/css/maincss.css">
        <link STYLE="text-align: center; margin-right
                             :20px; margin-top: 6px; margin-left:0; padding: 0;" rel = "icon" href="static/img/LOGO.PNG" >
    </head>
    <body>
        <br><br>
        <img src="static\img\LOGO.PNG" alt="Image Here" width="200px" height="200px">
        <br>
        <nav class="login">
            <p>
                Sign-up or Login
            </p>
            <form action="/login" method="post">
                <input class="input" type="text" name="id" placeholder="Username">
                <br>
                <input class="input" type="password" name="password" placeholder="Password">
                <br>
                <button class="new_button" type="submit" name="button" value="login">Login</button>
                <button class="new_button" type="submit" name="button" value="signup">Signup</button>
            </form>
        </nav>
        <br><br>
        {% if error != '' %}
            <nav class="error">
                <p>{{ error }} </p>
                <p>{{ action }}</p>
            </nav>
        {% endif %}

    </body>
</html>
