{% extends "layout.html" %}

{% block content %}
<nav class="quote">
    ''Poetry comes from highest happiness or deepest sorrow''
</nav>
    {% for i in range(0, length) %}
    {% if i % 2 == 0 %}
        <nav class="poems" style="background-color: #009f9d;">
            <h2>{{ titles[i] }}</h2>
            <p class="poem">
            {% for j in poems[i] %}
            {{ j }} <br>
            {% endfor %}
            </p>
            <h3 class="by">   - {{ names[i] }}</h3>
        </nav>
    {% else %}
        <nav class="poems" style="background-color: #ccfeea;">
            <h2> {{ titles[i] }}</h2>
            <p class="poem">
            {% for j in poems[i] %}
            {{ j }} <br>
            {% endfor %}
            </p>
            <h3 class="by">   - {{ names[i] }}</h3>
        </nav>
    {% endif %}
    {% endfor %}
{% endblock %}
